{% extends "urlshortner/base_shortner.html" %}

{% block title %} Список ваших ссылок {% endblock %}

{% block content %}

    will be soon

{% endblock %}


{#{% block content %}#}
{#    <div class="container">#}
{#        <ul class="list" id="link-list">#}
{#            <li>#}
{#                <p>khrmff.ru/s/link_lol</p>#}
{#                <table class="table table-stripped table-sm">#}
{#                    <thead>#}
{#                    <tr class="table-warning">#}
{#                        <th scope="">visit number</th>#}
{#                        <th scope="col">Time and date</th>#}
{#                        <th scope="col">IP address</th>#}
{#                        <th scope="col">User agent (browser)</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    <tr style="background: #c7c93c">#}
{#                        <th scope="">1</th>#}
{#                        <td>18.04.2020 21:55</td>#}
{#                        <td>127.0.0.1</td>#}
{#                        <td>Chrome</td>#}
{#                    </tr>#}
{#                    <tr class="" style="background: #cfd169">#}
{#                        <th scope="">1</th>#}
{#                        <td>18.04.2020 21:55</td>#}
{#                        <td>127.0.0.1</td>#}
{#                        <td>Chrome</td>#}
{#                    </tr>#}
{#                    <tr class="" style="background: #c7c93c">#}
{#                        <th scope="">1</th>#}
{#                        <td>18.04.2020 21:55</td>#}
{#                        <td>127.0.0.1</td>#}
{#                        <td>Chrome</td>#}
{#                    </tr>#}
{#                    <tr class="" style="background: #cfd169">#}
{#                        <th scope="">1</th>#}
{#                        <td>18.04.2020 21:55</td>#}
{#                        <td>127.0.0.1</td>#}
{#                        <td>Chrome</td>#}
{#                    </tr>#}
{#                    </tbody>#}
{#                </table>#}
{#            </li>#}
{#            <li>link1</li>#}
{#            <li>link1</li>#}
{#        </ul>#}
{#    </div>#}
{#{% endblock %}#}
