{% extends "urlshortner/base_shortner.html" %}

{% block title %}Посмотреть информацию о переадресации{% endblock %}

{% block content %}
    {# TODO: make it responsible #}
    <div class="container-fluid text-center">
        <h4 class="font-weight-normal">
            Информация о переадресации на
            <a class="font-weight-bold" href="{% url 'redirect' shorturl.short_code host 'urlshortner' %}">
                {{ shorturl.full_url }}
            </a>
        </h4>
        {% if visits %}
            <h4>Всего было {{ visits.count }} переходов</h4>
            <table class="table table-hover table-bordered table-sm-responsive">
                <thead>
                <tr>
                    <th>Время</th>
                    <th scope="col">IP-адрес</th>
                    <th scope="col">Сайт с которого перешли</th>
                    <th scope="col">User-agent</th>
                </tr>
                </thead>
                <tbody>
                {% for i in visits %}
                    <tr>
                        <th>
                            {{ i.time }}
                        </th>
                        <th>
                            {{ i.IP }}
                        </th>
                        <th>
                            <a href="{{ i.http_referer }}">{{ i.http_referer }}</a>
                        </th>
                        <th>
                            {{ i.user_agent }}
                        </th>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3>Пока еще никто не перешел по ссылке :(. Поделись ей с друзьями!</h3>
        {% endif %}
    </div>
{% endblock %}
