{% extends "base.html" %}

{% block title %}Авторизоваться/Зарегестрироваться{% endblock %}

{% load static %}
{% block scripts %}
    <link rel="stylesheet" href="{% static "khromoff/login.css" %}">
    <script src="{% static 'general/form-validation.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="text-center signin">
        <div class="errors">
            {% for i in errors %}
                <div class="alert alert-danger">
                    Ошибка! {{ i.description }}
                </div>
            {% endfor %}
        </div>
        <nav>
            <div class="nav nav-tabs mb-3 justify-content-center" id="nav-tab" role="tablist">
                <a class="nav-item nav-link {% if menu == 'login' %}active{% endif %}" id="login-register" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Войти</a>
                <a class="nav-item nav-link {% if menu == 'register' %}active{% elif menu != 'login' %}active{% endif %}" id="login-register" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Создать нового пользователя</a>
            </div>
        </nav>

        <div class="tab-content" id="login-register">
            <form class="novalidate-form tab-pane fade {% if menu == 'login' %}active show{% endif %}" action="" method="POST" id="login" novalidate>
                <h1 class=" font-weight-normal mb-3">Войти</h1>

                {% csrf_token %}
                <input type="text" name="type" value="login" hidden>

                <div class="form-group">
                    <label class="sr-only" for="username">Имя пользователя</label>
                    <input class="form-control" id="username" type="text" name="username" placeholder="Имя пользователя" required>
                    <div class="invalid-feedback">
                        Это поле обязательно.
                    </div>
                    <label class="sr-only" for="password">Пароль</label>
                    <input class="form-control mt-1" id="password" type="password" name="password" placeholder="Пароль" required>
                    <div class="invalid-feedback">
                        Это поле обязательно.
                    </div>
                </div>

                <button class="btn btn-lg btn-primary">Войти</button>
            </form>

            <form class="novalidate-form tab-pane fade {% if menu == 'register' %}active show{% elif menu != 'login' %}active show{% endif %} " action="" method="POST" id="register" novalidate>
                <h1 class=" font-weight-normal ">Создать нового пользователя</h1>

                {% csrf_token %}
                <input type="text" name="type" value="register" hidden>

                <div class="form-group">
                    <label class="sr-only" for="username">Имя пользователя</label>
                    <input class="form-control" id="username" type="text" name="username" placeholder="Имя пользователя" required>
                    <div class="invalid-feedback">
                        Это поле обязательно.
                    </div>
                    <label class="sr-only" for="password">Пароль</label>
                    <input class="form-control mt-1" id="password" type="password" name="password" placeholder="Пароль" required>
                    <div class="invalid-feedback">
                        Это поле обязательно.
                    </div>
                    <label class="sr-only" for="password">Повторите пароль</label>
                    <input class="form-control mt-1" id="password" type="password" name="password_repeat" placeholder="Повторите пароль" required>
                    <div class="invalid-feedback">
                        Это поле обязательно.
                    </div>
                </div>

                <button class="btn btn-lg btn-primary">Создать</button>
            </form>
        </div>
    </div>
{% endblock %}
