{% extends "base.html" %}
{% load static %}

{% block title %}Обо мне{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="{% static "khromoff/about_styles.css" %}">
{% endblock %}

{% block content %}
    <div class="container-md text-center about-me-text">
        <h1>Это я!</h1>
        <p>
            Привет! Я Михаил, мне {{ age }} лет. Это мой сайт. В свободное от учебы время изучаю Python, машинное
            обучение,
            немного C++ и линукс.<br>
            Я даже делаю телеграм (и не только) ботов и сайты на заказ! Если вам нужны примеры работы или вы хотите его
            заказать - напишите мне в ТГ (ссылка на него внизу страницы).
        </p>
        <p class="text-muted mt-auto site-info-text">
            Если у вас возникло желание написать мне, нажмите на одну из кнопок в самом низу страницы.
            Предпочтительно писать в телеграм, т.к. там я скорее всего отвечу мгновенно, но и в других местах долго
            ждать ответа вам
            не придется.
        </p>

        <div class="container-fluid mt-5">
            <img src="{% static "khromoff/siyte.png" %}" alt="me :)" class="img-fluid rounded">
            <p class="text-muted">ого, это же я!</p>
        </div>
    </div>
{% endblock %}
