{% extends "base.html" %}
{% load static %}

{% block title %}Обо мне{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "about_styles.css" %}">
{% endblock %}

{% block content %}
    <div class="container-md text-center about-me-text">
        <h1>Это я!</h1>
        <p>
            Привет! Я Михаил, мне {{ age  }} лет. Это мой сайт. В свободное от учебы время изучаю Python, машинное обучение,
            немного C++ и чуть больше линукс.
        </p>
{#        <p>#}
{#            В этом параграфе должна быть еще какая-то информация обо мне, но я не знаю что можно сюда вставить, а без этого параграфа#}
{#            эстетика страницы будет нарушена.#}
{#        </p>#}
        <p class="text-muted mt-auto site-info-text">
            Если у вас возникло желание написать мне, нажмите на одну из кнопок в самом низу страницы.
            Предпочтительно писать в телеграм, т.к. там я скорее всего отвечу мгновенно, но и в других местах долго ждать ответа вам
            не придется.
        </p>
    </div>
{% endblock %}
