{% extends "base.html" %}

{% load static %}
{% load hosts_override %}
{% load cache %}

{% block title %}Личный кабинет{% endblock %}

{% block scripts %}
    <script src="{% static 'general/form-validation.js' %}"></script>
    <script src="{% static 'khromoff/scripts.js' %}"></script>
    <link rel="stylesheet" href="{% static "khromoff/profile_styles.css" %}">
{% endblock %}

{% block content %}
    <div class="">
        <div class="mt-3"></div>


        <h1 class="text-center">Профиль пользвателя {{ request.user.username }}</h1>
        {% if request.GET.new == '' %}
            <div class="alert alert-success text-center alert-popup container-fluid">
                Аккаунт успешно создан!
            </div>
        {% endif %}
        {% for i in errors %}
            <div class="alert alert-danger text-center alert-popup container-fluid">
                Ошибка! {{ i.description }}
            </div>
        {% endfor %}
        {% if success %}
            <div class="alert alert-success mt-3 text-center alert-popup container-fluid">
                {{ success }}
            </div>
        {% endif %}
        <div>
            <div class="">
                <form action="" class="form-inline form-row novalidate-form m-0 p-0" method="post" novalidate>
                    <p class="h4 font-weight-normal mr-1 col-md-5 col-lg-3 col-sm-12">Ваш юзернейм: {{ request.user.username }}</p>
                    {% csrf_token %}
                    <input name="type" value="change_username" hidden>

                    <label for="new_name" class="sr-only">Новый юзернейм</label>
                    <input required class="form-control mr-md-1 col-md-3 offset-md-1 offset-lg-3 col-lg-4 col-sm-6 md-sm-5" name="new_name" id="new_name" type="text" placeholder="Новый юзернейм">
                    <div class="invalid-feedback">
                        Это поле обязательно.
                    </div>
                    <button class="btn btn-success col-md-2 col-lg-1 col-sm-6 mt-1" type="submit">Поменять имя</button>
                </form>
                <form action="" class="form-inline form-row novalidate-form" method="post" novalidate>
                    <p class="h4 font-weight-normal mr-1 col-md-5 col-lg-3 col-sm-12">Поменять пароль</p>
                    {% csrf_token %}
                    <input name="type" value="change_password" hidden>

                    <label for="new_password" class="sr-only">Новый пароль</label>
                    <input required class="form-control mr-md-1 col-md-3 offset-md-1 offset-lg-3 col-lg-2 col-sm-6 md-sm-5" name="new_password" id="new_password" type="password" placeholder="Новый пароль">
                    <div class="invalid-feedback">
                        Это поле обязательно.
                    </div>
                    <label for="new_password2" class="sr-only">Повторите пароль</label>
                    <input required class="form-control mr-md-1 col-md-3 col-lg-2" name="new_password_repeat" id="new_password2" type="password" placeholder="Повторите пароль">
                    <div class="invalid-feedback">
                        Это поле обязательно.
                    </div>
                    <button class="btn btn-success col-md-2 col-lg-1 col-sm-6 mt-1" type="submit">Поменять пароль</button>
                </form>
            </div>
        </div>

        <hr class="mx-md-5 mx-xs-4 my-5">

        <div class="row mt-5">
            {% cache 86400 shorturl-profile-list request.user.username %} {# one day cache #}
                <div class="shorturl col-lg-6 col-md-12">
                    <h3>Ваши сокращенные ссылки</h3>
                    <div>
                    {% if created_shorturls %}

                        <table class="table table-sm table-bordered table-hover table-responsive-md" id="table-shorturls">
                            <thead>
                                <tr>
                                    <th scope="col">Перенаправляет на</th>
                                    <th scope="col">Кол-во совершенных перенаправлений</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody id="tbody-shorturls">
                                {% for i in created_shorturls %}
                                    {% url 'data' i.obj.view_data_code host 'urlshortner' as view_data_code_url %}
                                    <tr id="shorturls-list" class="short-code-{{ i.obj.short_code }} pointer-on-hover" title="Подробная информация о переадресации">
                                        <th {% if i.obj.do_collect_meta %}onclick="window.location = '{{ view_data_code_url }}'"{% endif %}>
                                            <a href="{% url 'redirect' i.obj.short_code host 'urlshortner' %}">
                                                {{ i.obj.full_url }}
                                            </a>
                                        </th>
                                        {% if i.obj.do_collect_meta %}
                                            <td onclick="window.location = '{{ view_data_code_url }}'">
                                                {{ i.times_visited }}
                                            </td>
                                        {% else %}
                                            <td>
                                                Это анонимный редирект, вы не можете посмотреть информацию о нем.
                                            </td>
                                        {% endif %}

                                        <td id="delete-item" title="Удалить короткую ссылку" class="p-0 text-center">
                                            <div class="short_code_val" hidden>{{ i.obj.short_code }}</div>
                                            <span>&times;</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="modal fade" id="delete-item-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="delete-item-modalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="delete-item-modalLabel">Вы уверены что хотите удалить ShortURL?
                                            <span class="text-muted">После этого ей будет нельзя пользоваться!</span></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="font-weight-bold"><span id="modal-param1">Перенаправление на:</span> <span class="font-weight-normal" id="redirect-url"></span></p>
                                        <p class="font-weight-bold"><span id="modal-param2">Кол-во переходов:</span> <span class="font-weight-normal" id="redirect-count"></span></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                        <form action="{% url 'shorturl-deactivate' host 'api' %}" id="delete-shorturl-form">
                                            {% csrf_token %}
                                            <input hidden name="short_code" id="short_code_val">
                                            <button type="submit" id="delete" class="btn btn-danger">Удалить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="invisible" id="hidden-shorturl-advice">
                            <h4 class="font-weight-normal">Вы еще не создавали ссылок...</h4>
                            <h4 class="font-weight-normal">
                                Нажми <a href="{% url 'index' host 'urlshortner' %}">сюда</a> чтобы создать такую!
                            </h4>
                        </div>
                        {% else %}
                            <h4 class="font-weight-normal">Вы еще не создавали ссылок...</h4>
                            <h4 class="font-weight-normal">Нажми <a href="{% url 'index' host 'urlshortner' %}">сюда</a> чтобы создать
                                такую!</h4>
                        {% endif %}
                    </div>
                </div>
            {% endcache %}

            <div class="keylist col-lg-6 col-md-12">
                <h3>Ваши ключи API (для разработчиков)</h3>
                {% if keys %}
                    <table class="table table-sm table-bordered table-responsive-sm">
                        <thead>
                            <tr>
                                <th scope="col">Имя</th>
                                <th scope="col">Префикс ключа</th>
                                <th scope="col">Права</th>
                                <th scope="col">Запросов в минуту</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in keys %}
                                <tr>
                                    <th>
                                        {{ i.name }}
                                    </th>
                                    <td>
                                        {{ i.prefix }}
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Создавать <span class="font-weight-bold">
                                                <a href="{% url 'docs-objects' host 'api' %}#shorturl">ShortURL</a></span>
                                            </li>
                                            <li>Смотреть информацию о <span class="font-weight-bold"><a
                                                    href="{% url 'docs-objects' host 'api' %}#visit">Visit</a></span></li>
                                        </ul>
                                    </td>
                                    <td>
                                        {% if i.requests_per_minute >= 1000 %}
                                            &infin;
                                        {% else %}
                                            {{ i.requests_per_minute }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4 class="font-weight-normal">У вас нет активных ключей</h4>
                    <h4 class="font-weight-normal">Чтобы получить такой, нажмите <a href="{% url 'create-api-key' host 'api' %}">сюда</a></h4>
                {% endif %}
                {% if keys|length >= 5 %}
                    <h4 class="font-weight-normal">Вы не можете иметь больше 5 ключей.
                        Если вы не используйте какой-то из них, удалите его и добавьте другой.</h4>
                {% elif keys %}
                    <h4 class="font-weight-normal">Чтобы получить еще один, нажмите <a href="{% url 'create-api-key' host 'api' %}">сюда</a></h4>
                {% endif %}

            </div>

        </div>
    </div>
{% endblock %}
