{% extends "base.html" %}

{% block title %}Личный кабинет{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "khromoff/profile_styles.css" %}">
{% endblock %}

{% block content %}
    <div class="">
        <div class="mt-3"></div>


        <h1 class="text-center">Профиль пользвателя {{ request.user.username }}</h1>
        {% if request.GET.new == '' %}
            <div class="alert alert-success text-center alert-popup container-fluid">
                Аккаунт успешно создан!
            </div>
        {% endif %}
        {% for i in errors %}
            <div class="alert alert-danger text-center alert-popup container-fluid">
                Ошибка! {{ i.description }}
            </div>
        {% endfor %}
        {% if success %}
            <div class="alert alert-success mt-3 text-center alert-popup container-fluid">
                {{ success }}
            </div>
        {% endif %}
        <div>
            <div class="">
                <form action="" class="form-inline form-row" method="post">
                    <p class="h4 font-weight-normal mr-1 col-md-5 col-lg-3 col-sm-12">Ваш юзернейм: {{ request.user.username }}</p>
                    {% csrf_token %}
                    <input name="type" value="change_username" hidden>

                    <label for="new_name" class="sr-only">Новый юзернейм</label>
                    <input class="form-control mr-md-1 col-md-3 offset-md-1 offset-lg-3 col-lg-4 col-sm-6 md-sm-5" name="new_name" id="new_name" type="text" placeholder="Новый юзернейм">
                    <button class="btn btn-success col-md-2 col-lg-1 col-sm-6 mt-1" type="submit">Поменять имя</button>
                </form>
                <form action="" class="form-inline form-row" method="post">
                    <p class="h4 font-weight-normal mr-1 col-md-5 col-lg-3 col-sm-12">Поменять пароль</p>
                    {% csrf_token %}
                    <input name="type" value="change_password" hidden>

                    <label for="new_password" class="sr-only">Новый пароль</label>
                    <input class="form-control mr-md-1 col-md-3 offset-md-1 offset-lg-3 col-lg-2 col-sm-6 md-sm-5" name="new_password" id="new_password" type="password" placeholder="Новый пароль">
                    <label for="new_password2" class="sr-only">Повторите пароль</label>
                    <input class="form-control mr-md-1 col-md-3 col-lg-2" name="new_password_repeat" id="new_password2" type="password" placeholder="Повторите пароль">
                    <button class="btn btn-success col-md-2 col-lg-1 col-sm-6 mt-1" type="submit">Поменять пароль</button>
                </form>
            </div>
        </div>

        <hr class="mx-md-5 mx-xs-4 my-5">

        <div class="row mt-5">

            <div class="shorturl col-lg-6 col-md-12">
                <h3>Ваши сокращенные ссылки</h3>
                {% if created_shorturls %}
                    <table class="table table-sm table-bordered table-hover table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col">Перенаправляет на</th>
                                <th scope="col">Подробная информация о переходах</th>
                                <th scope="col">Кол-во совершенных перенаправлений</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for i in created_shorturls %}
                            {# TODO: on click we redirect to visits of this url, link: #}
                            <tr>
                                <th>
                                    <a href="{% url 'shorturl-redirect' i.obj.short_code %}">
                                        {{ i.obj.full_url }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{% url 'urlshortner-data' i.obj.view_data_code %}">
                                        Подробная информация о переходах
                                    </a>
                                </th>
                                <th>
                                    {{ i.times_visited }}
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                   </table>
                {% else %}
                    <h4 class="font-weight-normal">Вы еще не создавали ссылок...</h4>
                    <h4 class="font-weight-normal">Нажми <a href="{% url 'urlshortner-index' %}">сюда</a> чтобы создать такую!</h4>
                {% endif %}

            </div>
            <div class="keylist col-lg-6 col-md-12">
                <h3>Ваши ключи API (для разработчиков)</h3>
                {% if keys %}
                    <table class="table table-sm table-bordered table-responsive-sm">
                        <thead>
                            <tr>
                                <th scope="col">Имя</th>
                                <th scope="col">Префикс ключа</th>
                                <th scope="col">Права</th>
                                <th scope="col">Запросов в минуту</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in keys %}
                                <tr>
                                    <th class="font-weight-normal">
                                        {{ i.name }}
                                    </th>
                                    <th class="font-weight-normal">
                                        {{ i.prefix }}
                                    </th>
                                    <th class="font-weight-normal">
                                        Создавать ShortURL; Смотреть информацию о Visit;
                                    </th>
                                    <th class="font-weight-normal">
                                        &infin;
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4 class="font-weight-normal">У вас нет активных ключей</h4>
                    {# TODO: add accessbility to create keys #}
                    <h4 class="font-weight-normal">В данный момент нет возможности их получить, но когда-нибудь появится.</h4>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
