{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{#    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">#}
    {% block head %} {% endblock %}
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %} Khromoff's site {% endblock %} - Khromoff</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-light navbar-expand-md" style="background-color: rgba(56,56,56,0.1);">
        <a href="/" class="navbar-brand h1">Khromoff site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar3">
            <ul class="navbar-nav justify-content-center">

                {% block left-nav-items %}
                {% endblock %}

                <li class="nav_item dropdown">
                    <button class=" btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ваш профиль
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if user.is_authenticated %}
                            <h6 class="dropdown-header">Привет, {{ user.username }}!</h6>
                            <a class="dropdown-item" href="/personal">Личный кабинет</a>
                            <div class="dropdown-separator"></div>
                            <a href="/logout" class="dropdown-item">Выйти</a>
                        {% else %}
                            <h6 class="dropdown-header">Привет, я тебя не знаю...</h6>
                            <a href="/login" class="dropdown-item active">Войти/Зарегистрироваться</a>
                            <a href="#" class="dropdown-item">ыыыы</a>

                        {% endif %}
                    </div>
                </li>

            </ul>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end mr-5">
                <li class="nav-item dropdown">
                    <button class=" btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Интересное
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/s/">Сокращатель ссылок</a>
                    </div>
                </li>

            </ul>
        </div>
</nav>

    <div id="content" class="container-fluid flex-grow-1">
        {% block content %}
            This page should never be opened. Please report
        {% endblock %}
    </div>
    <footer class="bg-dark text-white mt-9 text-center">
        <p>FOOTER))0)</p>
        urls: <br>
        1. <a href="/s">urlshortner</a>
        <p><small class="text-muted">Powered by <a class="text-muted" href="http://{{ static.HOSTNAME }}">{{ static.HOSTNAME }}/</a> with love <3</small></p>
    </footer>
</body>
</html>