{% extends "base.html" %}
{% block title %}Create your ShortenURL!{% endblock %}
{% block left-nav-items %}
<li class="nav-item">
    <a class="nav-link" href="/s/links">Your links</a>
</li>
{% endblock %}
{% block content %}
    <div class="container-lg text-center ">
        <h1 class="">Create ShortURL</h1>
        <div class="">
            {% for i in errors %}
                <div class="alert alert-danger">
                    Error! {{ i.description }}
                </div>
            {% endfor %}
        </div>
            <form action="" method="POST" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="url_input">Your long URL: </label>
                    <input class="form-control text-monospace" id="url_input" name="long_url" type="text" value="{{ request.POST.long_url }}">
                </div>

                {% if user.is_authenticated %}
                    {# TODO: ADD SO IT'S READONLY UNLESS YOU REGISTER, WOULD BE REAAAALLLYYY COOL #}
                    <div class="form-group">
                        <label for="basic-url">Your alias (not required)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ static.HOSTNAME|default:"127.0.0.1" }}/s/</span>
                            </div>
                            <input id="basic-url" type="text" class="form-control" name="alias">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="checkbox">Do collect meta data? - </label>
                        <input class="form-check-label" id="checkbox" type="checkbox" name="do_collect_meta" value="true" checked   >
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="basic-url">Your alias (not required)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-monospace">{{ static.HOSTNAME|default:"127.0.0.1" }}/s/</span>
                            </div>
                            <input id="basic-url" type="text" class="form-control text-monospace" name="alias" value="t0D0z" readonly>
                        </div>
                        <small class="text-muted text-left">Only for registered users.</small>
                    </div>
                {% endif %}

                <button class="btn btn-primary btn-lg btn-block" type="submit">Create ShortURL!</button>

            </form>
        </div>
{% endblock %}
