{% extends "base_shortner.html" %}
{% block title %}Сократить ссылку{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'urlshortner_styles.css' %}">{% endblock %}

{% block content %}
    <div class="container-lg text-center">
        <h1 class="">Создать короткую ссылку</h1>
        <div class="errors">
            {% for i in errors %}
                <div class="alert alert-danger">
                    Ошибка! {{ i.description }}
                </div>
            {% endfor %}
        </div>
        <form action="" method="POST" class="form shorturl-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="url_input">Длинная ссылка: </label>
                <input class="form-control text-monospace" id="url_input" name="long_url" type="text"
                       value="{{ request.POST.long_url }}">
            </div>

                {# TODO: remove authentication requirment #}
                {# TODO: ADD SO IT'S READONLY UNLESS YOU REGISTER, WOULD BE REAAAALLLYYY COOL #}
            <div class="form-group">
                <label for="basic-url">Персональная ссылка</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">https://l.{{ static.HOSTNAME }}/</span>
                    </div>
                    <input id="basic-url" type="text" class="form-control" name="alias">
                </div>
            </div>

            {% if user.is_authenticated %}
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="checkbox" type="checkbox" name="do_collect_meta" checked>
                    <label class="custom-control-label" for="checkbox">Позволить собирать данные о переходах?</label>
                </div>
            {% else %}
                <small class="text-muted pd-0 md-0 pt-5 mt-5">Только для авторизованных пользователей</small>
                <hr class="pt-0 mt-0">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="checkbox" type="checkbox" name="do_collect_meta" disabled>
                    <label class="custom-control-label" for="checkbox">Позволить собирать данные о переходах?</label>
                </div>
            {% endif %}

            <button class="btn btn-primary btn-lg btn-block mt-4" type="submit">Создать короткую ссылку</button>

        </form>
    </div>
{% endblock %}
