{% extends "base_shortner.html" %}
{% block title %} Preview of {{ long_url }} redirect {% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="">
            {% if request.GET.new %}
                <div class="alert alert-success mt-2 pt-3 pd-2 pl-3 pr-3 d-inline-flex"><h6>ShortURL had been created successfully!</h6></div>
            {% endif %}
            <h1>Эта ссылка это превью перенаправления на:</h1>
            <a class="font-weight-bold h3 text-break" href="{{ long_url }}">{{ long_url }}</a>
            <br>
            <small class="text-muted">Кликни на синюю URL чтобы попасть на сайт</small>
            <hr>
            {% if not do_collect_meta %}
                <p class="text-muted mt-auto">Кстати, эта ссылка 100% анонимна, что означает мы не собираем никакой
                    информации о вас здесь.</p>
            {% elif request.GET.view_data_code %}
                <h4 class="font-weight-normal">Чтобы посмотреть информацию о переходах по этой короткой ссылке, кликните
                    <a href="{% url 'urlshortner:data' request.GET.view_data_code %}">сюда</a>.
                </h4>
                <div class="mt-5"></div>
            {% endif %}
            <h3>Чтобы поделиться ссылкой с кем-то, скопируйте и отправьте ее им: </h3>
            <a class="font-weight-bold h3 text-break" href="https://l.{{ static.HOSTNAME }}/{% if '/a/' in request.path %}a/{% endif %}{{ short_code }}">https://l.{{ static.HOSTNAME }}/{% if '/a/' in request.path %}a/{% endif %}{{ short_code }}</a>
        </div>
    </div>
{% endblock %}

