{% extends "base_shortner.html" %}
{% block title %} Preview of {{ long_url }} redirect {% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="">
            {% if request.GET.new %}
                <div class="alert alert-success mt-2 pt-3 pd-2 pl-3 pr-3 d-inline-flex"><h6>ShortURL had been created successfully!</h6></div>
            {% endif %}
            <h1>You are previewing a redirect to:</h1>
            <a class="font-weight-bold h3 text-break" href="{{ long_url }}">{{ long_url }}</a>
            <br>
            <small class="text-muted">Click the blue URL to proceed to the site</small>
            <hr>
            {% if '/a/' in request.path %}
                <p class="text-muted mt-auto">By the way, this link is 100% anonymous, so we don't collect any data of you here.</p>
            {% endif %}
            <h3>To share the link with anyone, copy and paste it to them: </h3>
            <a class="font-weight-bold h3 text-break" href="https://l.khrmff.ru/{% if '/a/' in request.path %}a/{% endif %}{{ short_code }}">https://l.khrmff.ru/{% if '/a/' in request.path %}a/{% endif %}{{ short_code }}</a>
{#            <p class="h3 text-break">To share the link with anyone, copy and paste it to them: <a class="h1" href="{{ static.HOSTNAME }}/s/{% if '/a/' in request.path %}a/{% endif %}{{ short_code }}">{{ static.HOSTNAME }}/s/{{ short_code }}</a></p>#}
        </div>
    </div>
{% endblock %}

