{% extends "base_shortner.html" %}

{% block title %}Посмотреть информацию о переадресации{% endblock %}

{% block content %}
    {# TODO: make it responsible #}
    <div class="container-fluid text-center">
        <h4 class="font-weight-normal">Информация о переадресации на <a class="font-weight-bold" href="{% url 'shorturl-redirect' shorturl.short_code %}">{{ shorturl.full_url }}</a></h4>
        <h4>Всего было {{ visits|length }} переходов</h4>
        <table class="table table-hover table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Время</th>
                    <th scope="col">IP-адрес</th>
                    <th scope="col">Сайт с которого перешли</th>
                    <th scope="col">User-agent</th>
                </tr>
            </thead>
            <tbody>
                {% for i in visits %}
                    <tr>
                        <th>
                            {{ i.time }}
                        </th>
                        <th>
                            {{ i.IP }}
                        </th>
                        <th>
                            <a href="{{ i.http_referer }}">{{ i.http_referer }}</a>
                        </th>
                        <th>
                            {{ i.user_agent }}
                        </th>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
